body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'xygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --color-red: #ff0000;
  --color-black: #000000;
  --color-gold: #ffd700;
  --color-white: #ffffff;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}



.skillIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 5em;
  margin: 1rem;
  animation: spinner 15s linear infinite;
}

.skills{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;

}

.skillName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 1rem;
  }

  .skills {
    flex-direction: column;
  }

  .skill {
    margin: 1rem 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
  }
  75% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}
